/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
# cedar
/dev/cedar_dev            0666   system     system 
/dev/ace_dev              0666   system     system 
# disp
/dev/disp                 0666   system     system 
/dev/g2d             	  0666   system     system 
# mali
/dev/mali		          0666   system	    graphics
/dev/ump		          0666   system     graphics
# audio, dvb, fm
/dev/video*		          0666   system	    system
/dev/dvb*		          0666   system	    system
/dev/radio*		          0666   system	    system
# special nodes
/dev/alarm                0664   system     radio
/dev/log/*                0662   root       log
/dev/bus/usb/*            0660   root       usb
/dev/usb_accessory        0660   root       usb
/dev/mtp_usb              0660   root       mtp
/dev/snd/*                0660   system     audio
/dev/input/*              0660   root       input
/dev/tty*                 0660   root       system
/dev/ttyS1                0660   system     system
/dev/android_adb          0660   adb        adb
/dev/ppp                  0660   radio      vpn
/dev/graphics/*           0660   root       graphics
# 3G modems, GPS
/dev/ttyUSB*              0666   system     system
# All PCM devices
/dev/snd/pcm*	          0666   system     audio
# Accelerometer
/dev/bma150               0640   compass    system
# VPN
/dev/tun                  0660   system     vpn
# misc
/dev/block/nandf	      0660	 system	    system

# sysfs properties, for mma7660 gsensor
/sys/devices/virtual/input/input*   name        0660  root   input
/sys/devices/virtual/input/input*   max         0660  root   input
/sys/devices/virtual/input/input*   min         0660  root   input
/sys/devices/virtual/input/input*   poll        0666  root   input

# END